# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# Environment variables
.env

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Inpput and output files
input/
output/

# Database files
*.db
*.sqlite3

# Logs
*.log

# OS specific files
.DS_Store
Thumbs.db

# LangChain
.langgraph_api/